.contact{
  padding: 4rem 0;
}
.contact .row{
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 4rem));
  align-items: center;
  gap: 4rem;
}
.contact .row .col-left{
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact .row .col-left img{
  width: 40rem;
  height: auto;
}

.contact form{
  margin: 2rem 0;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.contact form input,
.contact form textarea{
  border: none;
  border-radius: 0.5rem;
  background: var(--color-light-gray);
  padding: 1.5rem;
}
.contact form textarea{
  resize: none;
  height: 15rem;
}
@media (max-width: 1400px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}
@media (max-width: 400px) {
}
