.hero {
  position: relative;
  background: var(--color-orange);
  padding-top: 3rem;
}
.hero .row {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 4rem));
  align-items: center;
  gap: 4rem;
}
.hero .col-right {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero .col-right img {
  max-width: 100%;
}
.hero .btn {
  margin-bottom: 5rem;
}
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  .hero .row {
    grid-template-columns: 100%;
    gap: 2rem;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 400px) {
}
