.our-projects {
  padding: 4rem 0;
}
.our-projects .title,
.our-projects .subtitle,
.our-projects .complement {
  text-align: center;
}
.our-projects .complement {
  width: 40rem;
  margin: 0 auto;
}
.our-projects .btn {
  margin: 0 auto;
}
.swiper-project {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 3rem calc(100% - 6rem) 3rem;
  padding: 5rem 0;
}
.swiper-project .swiper {
  width: 100%;
}
.swiper-project .project-box {
  width: 100%;
  height: 45rem;
  overflow: hidden;
  display: block;
}
.swiper-project .project-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-project .swiper-button-next,
.swiper-project .swiper-button-prev {
  width: 2.5rem;
  margin: 0 0.25rem;
}
.swiper-project .swiper-button-next:hover,
.swiper-project .swiper-button-prev:hover {
  cursor: pointer;
}
.swiper-project .swiper-button-next {
  transform: rotate(180deg);
}
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .our-projects {
    padding: 1.5rem 0;
  }
  .our-projects .complement {
    width: 100%;
  }
  .swiper-project .project-box {
    width: 100%;
    height: 40rem;
  }
}
@media (max-width: 400px) {
}
